* {
    margin: 0;
    padding: 0;
}

.header-block {
    display: flex;
    margin-right: 10%;
    margin-left: 10px;
}
.header-block h1 {
    margin-right: 20px;
}
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px gray;
    padding-block: 5px;
}
.headerimg {
    border-radius: 8px;
}
.headerform {
    height: 100%;
}
.searchbar {
    border-radius: 6px;
    height: 32px;
}

.article {
    height: 100vh;
    background: rgba(218,219,217,0.63);
    padding-top: 60px;
}

.userblock {
    height: 200px;
    margin-bottom: 18px;
}

.infoblock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 15px;
}

.rounded_content {
    border-radius: 5px;
    background: white;
}

.infoblock__download h2  {
 margin-bottom: 10px;
}
.infoblock__img {
    position: relative;
    right: 0;
    bottom: 0;
}
.mainconteiner {
    display: flex;
    justify-content: center;
}
.contentleft {
    padding: 25px;
}
.contentright {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-left: 18px;
    width: 20%;
}
.loginblock {
    margin-bottom: 18px;
    padding-block: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.input_login {
    width: 80%;
}
.input_password {
    width: 80%;
}
.registerblock {
    padding-block: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 18px;
    text-align: center;
}
.greytext {
    color: rgba(99,91,100,0.71)
}
.keywords {
    color: black;
}
.additionsblock {
    padding-block: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.Login_phone {
    margin-top: 7px;
    margin-bottom: 7px;
}
.login_login {
    margin-bottom: 15px;
    width: 250px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25%;
    
}
.footer_data {
    display: flex;
    align-items: center;
}